@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
 
body{
    background-image: linear-gradient(to right, #026873, #025940 );
}

main{
    background-color: white;
    border-radius:  15px ;
    box-shadow: 5px 5px 15px rgb(0, 28, 39);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #23be67;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0, 28, 39)
}

h2{
    color: #04BF8A;
    text-shadow: 0.1px 0.1px 0.7px rgb(0, 28, 39);
}

p{
    text-align: justify;
}


